.button {
  width: 26px;
  padding: 4px;
  border: none;
  background: transparent;

  box-sizing: border-box;

  text-align: center;
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  color: #333;

  transition: color 0.3s ease-out;
  cursor: pointer;
}

.button:hover {
  color: #1976D2;
}
