.table {
  border-collapse: collapse;
  border-spacing: 0;
  color: #333;
  font-size: 16px;
}

.table__caption,
.table__head,
.table__cell {
  border: 2px solid #ddd;
}

.table__caption,
.table__cell {
  padding: 8px;
}

.table__caption,
.table__head {
  font-weight: bold;
}

.table__caption {
  border-bottom: none;
  text-align: left;
}

.table__row--even {
  background: #fafafa;
}

.table__row--odd {
  background: #f7f7f7;
}

.table__head {
  padding: 10px 8px;
  background: #ececec;
  border-right-color: #ececec;
}

.table__head:last-child {
  border-right-color: #ddd;
}

.table__head--control {
  width: 20px;
}
